<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Random Word Generator</title>
        <!-- <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    </head>
    <body>
        <h3>Random Word (attempt #{{attempt}} ) </h3>
        <h1>{{random}}</h1>
        <form action='/rwg/gen' method='post'>
            {% csrf_token %}
            <input type='hidden' name='attempt'> 
            <input type='submit' value='generate'>
        </form>

        <!-- <script type="text/javascript" src="script.js"></script> -->
    </body>
</html>